<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SISTEM PENDUKUNG KEPUTUSAN DALAM MENENTUKAN PENYAKIT PADA TANAMAN CABAI DI DAERAH MUMBULSARI MENGGUNAKAN METODE TOPSIS</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />
    <!-- Custom Stylesheet -->
    <link href="./plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--********************************** Nav header start ***********************************-->
      <div class="nav-header">
        <div class="brand-logo">
          <a href="index.html">
            <b class="logo-abbr"><img src="images/logo.png" alt="" /> </b>
            <span class="logo-compact"><img src="./images/logo-compact.png" alt="" /></span>
            <span class="brand-title">
              <img src="images/logo-text.png" alt="" />
            </span>
          </a>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="nk-sidebar">
        <div class="nk-nav-scroll">
          <ul class="metismenu" id="menu">
            <li>
              <a href="kriteria.html" aria-expanded="false"> <i class="icon-menu menu-icon"></i><span class="nav-text">Tabel Kriteria</span></a>
            </li>
            <li>
              <a href="alternatif.html" aria-expanded="false"> <i class="icon-list menu-icon"></i><span class="nav-text">Tabel Alternatif</span></a>
            </li>
            <li>
              <a href="isi-nilai-alternatif.html" aria-expanded="false"> <i class="icon-note menu-icon"></i><span class="nav-text">Pengisian Nilai Setiap Alternatif</span></a>
            </li>
            <li>
              <a class="has-arrow" href="javascript:void()" aria-expanded="false"> <i class="icon-calculator menu-icon"></i> <span class="nav-text">Hasil TOPSIS</span> </a>
              <ul aria-expanded="false">
                <li><a href="#">Nilai Matriks</a></li>
                <li><a href="#">Nilai Matriks Ternormalisasi</a></li>
                <li><a href="#">Nilai Bobot Ternormalisasi</a></li>
                <li><a href="#">Matriks Ideal Positif/Negatif</a></li>
                <li><a href="#">Jarak Solusi Ideal Positif/Negatif</a></li>
                <li><a href="#">Nilai Preferensi</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="row page-titles mx-0">
          <div class="col p-md-0"></div>
        </div>
        <!-- row -->

        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Penilaian Setiap Alternatif</h4>
                  <div class="form-validation">
                    <form class="form-valide" action="#" method="post">
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-alternatif">Alternatif<span class="text-danger">*</span> </label>
                        <div class="col-lg-6">
                          <select class="form-control" id="val-alternatif" name="val-alternatif" required>
                            <option value="">Pilih Alternatif</option>
                            <option value="1">Penyakit Layu Bakteri Ralstonia (Ralstonia Solanacearum)</option>
                            <option value="2">Layu Fuserium (Fuserium Oxysporum Sp)</option>
                            <option value="3">Penyakit Virus Kuning (Gemini Virus)</option>
                            <option value="4">Penyakit Bercak Daun (Cercospora sp.)</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-matriks">kriteria 1<span class="text-danger">*</span> </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="val-matriks" name="val-matriks" placeholder="Isi nilai kriteria" required />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-matriks">kriteria 2<span class="text-danger">*</span> </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="val-matriks" name="val-matriks" placeholder="Isi nilai kriteria" required />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-matriks">kriteria 3<span class="text-danger">*</span> </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="val-matriks" name="val-matriks" placeholder="Isi nilai kriteria" required />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-matriks">kriteria 4<span class="text-danger">*</span> </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="val-matriks" name="val-matriks" placeholder="Isi nilai kriteria" required />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-8 ml-auto">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #/ container -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2021</p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>
  </body>
</html>
